<div class="main-content" id="panel">
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Asignacion de Auxiliares</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a>Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Asignacion</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a [routerLink]="['/home/dashboard/adm/admin/asignacionauxiliar']" class="btn btn-sm btn-neutral">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-wrapper">
                    <!-- Form controls -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h3 class="mb-0">Formulario</h3>
                        </div>
                        <!-- Card body -->
                        <div *ngIf="loginForm" class="card-body">
                            <form [formGroup]="loginForm" role="form" data-parsley-validate="" novalidate="" class="form-horizontal">
                                <div class="form-group">
                                    <label class="form-control-label" for="idUsuario">Auxiliar</label>
                                    <select formControlName="idUsuario" name="account" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idUsuario.errors }">
                                        <option *ngFor="let u of arrayUsuarios"  value="{{u.idUsuario}}">{{u.nombre}}</option>
                                     </select>
                                    <div *ngIf="submitted && f.idUsuario.errors" class="invalid-feedback">
                                        <div *ngIf="f.idUsuario.errors.required">El auxiliar es requerido</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="idDetalleCurso">Curso</label>
                                    <select formControlName="idDetalleCurso" name="account" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idDetalleCurso.errors }">
                                        <option *ngFor="let u of arrayDetalles"  value="{{u.idDetalleCurso}}">Curso: {{u.nombre}}/ Seccion: {{u.seccion}} / Horario: {{u.horaInicio}} to {{u.horaFin}} / Semestre: {{u.semestre}}</option>
                                     </select>
                                    <div *ngIf="submitted && f.idDetalleCurso.errors" class="invalid-feedback">
                                        <div *ngIf="f.idDetalleCurso.errors.required">El curso es requerido</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div *ngIf="validar == false">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                            <span class="alert-text"><strong>Atencion!</strong> {{mensaje}}</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                      <span aria-hidden="true">×</span>
                                                    </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" (click)="validarAsig()" [disabled]="loading" class="btn btn-info">
                                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                                Validar
                                        </button>
                                        <button *ngIf="true" type="button" (click)="onSubmit()" [disabled]="loading" class="btn btn-info">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Aceptar
                                    </button>

                                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</div>